[user]
    name = Jesue Junior
    email = jesuesousa@gmail.com
    signingKey = 17B3DEDFB2CACEAA!
[commit]
    verbose = true
    gpgsign = true
[column]
    ui = auto
[branch]
    autosetuprebase = always
    sort = -committerdate
[tag]
    sort = version:refname
[diff]
    algorithm = histogram
    colorMoved = plain
    mnemonicPrefix = true
    renames = true
[stash]
    showPatch = true
[merge]
    ff = false
	tool = vimdiff
	conflictstyle = diff3
[mergetool]
	prompt = false
[core]
    editor = vim
    excludesfile = ~/.gitignore
    fsmonitor = true
    untrackedCache = true
[color]
    diff = auto
    status = auto
    branch = auto
    pager = true
    ui = auto
[color "branch"]
    current = green reverse
    local = yellow
    remote = red
[color "diff"]
    meta = yellow
    frag = magenta
    old = red
    new = green
[color "status"]
    added = yellow
    changed = red
    untracked = red reverse
[pull]
	rebase = true
[push]
    default = simple
    autoSetupRemote = true
    followTags = true
[fetch]
    prune = true
    pruneTags = true
    all = true
[rebase]
    autoSquash = true
    autoStash = true
    updateRefs = true
[init]
    defaultBranch = main
# why the hell not?

[help]
    autocorrect = prompt
