[submodule "vim/bundle/pytest.vim"]
	path = vim/bundle/pytest.vim
	url = git://github.com/alfredodeza/pytest.vim
[submodule "vim/bundle/Vundle.vim"]
	path = vim/bundle/Vundle.vim
	url = git@github.com:gmarik/Vundle.vim.git
